[submodule "dsdl"]
	path = dsdl
	url = https://git.ewatt.com/ewatt/dsdl.git
[submodule "libuavcan/dsdl_compiler/pyuavcan"]
	path = libuavcan/dsdl_compiler/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan
